@{
    ViewBag.Title = "Glemt adgangskodebekræftelse";
}
<section class="section-margin--large">
    <div class="container">
        <div class="section-intro pb-70px">
            <h4 class="section-intro__title">Din konto</h4>
            <h2 class="section-intro__subtitle">
                Glemt adgangskodebekræftelse
            </h2>
            <p>
                Tjek din e-mail for at nulstille din adgangskode.
            </p>
        </div>
    </div>
</section>