@model IEnumerable<SalonHappiness.Models.Contract>
@{
    ViewBag.Title = "Samtykke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-margin--large pb-xl-2">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro">
                <h4 class="section-intro__title">Salon Happiness's</h4>
                <h2 class="section-intro__subtitle">Samtykkeerklæring</h2>
            </div>
        </div>
        <div class="row">
            @Html.Action("_Samtykke", "Home", new SalonHappiness.Models.Samtykke())
        </div>
    </div>
</section>
