<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .page_404 {
            padding: 40px 0;
            background: #fff;
        }

            .page_404 img {
                width: 100%;
            }

        .four_zero_four_bg {
            background-image: url(https://media.giphy.com/media/jTODiqwCUX42Xx63cA/giphy.gif);
            height: 400px;
            background-position: center;
            background-repeat: no-repeat;
        }


        .four_zero_four_bg {
            font-size: 80px;
        }

            .four_zero_four_bg h3 {
                font-size: 80px;
            }

        .contant_box_404 {
            margin-top: -50px;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
