@{
    SalonHappiness.Extensions.Helper.Notification notify = (SalonHappiness.Extensions.Helper.Notification)TempData["mailsendt"];
    TempData["mailsendt"] = null;
}
@if (notify != null)
{
    <script>
                window.setTimeout(function () {
                    $("#@notify.Status.ToString()").fadeTo(500, 0, function () {
                        $(this).remove();
                    });
                }, 10000);
    </script>
    <div id="@notify.Status.ToString()" class="alert alert-@notify.Status.ToString().ToLower() alert-dismissible" role="alert" style="position:relative; z-index:1">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading"><i class="fa fa-check-circle"></i> @notify.Title!</h4>
        <p><strong>@notify.Message</strong></p>
        <hr />
        <h6>@notify.MessageEmail</h6>
    </div>
}
