@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<section class="section-padding--large bg-white">
    <div class="container">
        <div class="section-intro pb-70px">
            <h4 class="section-intro__title">Oversigt over</h4>
            <h2 class="section-intro__subtitle">Der skete en fejl</h2>
        </div>
        <div class="row">
            <h1 class="text-danger">Fejl.</h1>
            <h2 class="text-danger">En fejl opstod under behandlingen af ​​din anmodning.</h2>
        </div>
    </div>
</section>