@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Låst ude";
}

<hgroup>
    <h1 class="text-danger">Låst ude.</h1>
    <h2 class="text-danger">Denne konto er blevet låst ud. Prøv igen senere.</h2>
</hgroup>
